<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail rstaurant</title>
</head>
<body>
    <a href="/#/">Beranda</a>
    Nama: ${data.name}<br>
    <img src="https://restaurant-api.dicoding.dev/images/small/${data.pictureId}"> <br>
    Alamat: ${data.address}<br>
    Kota: ${data.city}<br>
    Deskripsi:  ${data.description}<br>
    Menu Makanan: <br>
        <ol>
            ${list_makanan}
        </ol>
    Menu Minuman: <br>
        <ol>
            ${list_minuman}
        <ol>
    Customer Review: <br>
    ${review} 
</body>
</html>